@media (min-width: 0px) {
  h3 {
    font-size: 150%!important;
  }

  header {
    height: 30vh;
  }

  .filter-bar {
    margin: 0 5% 0 5%;
  }
  
  main .article {
    margin: 5%;
  }
}

@media (min-width: 768px) {
  html, body {
    font-size: 105%;
  }

  header {
    height: 50vh;
  }

  .filter-bar {
    margin: 0 2% 0 2%;
  }
  
  main .article {
    width: 45%;
    margin: 2%;
  }
}

@media (min-width: 1024px) {
  h3 {
    font-size: 200%!important;
  }

  header {
    height: 70vh;
  }

  .filter-bar {
    margin: 0 1% 0 1%;
  }
  
  main .article {
    width: 30%;
    margin: 1%;
  }
}

@media (min-width: 1200px) {
  .filter-bar, main .article {
    margin: 1% 0 1% 0;
  }
}

@media (min-width: 1201px) {
  
}

html, body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  width: 80%;
  margin: -5% auto 5% auto!important;
  font-size: 6vw!important;
  font-weight: 800!important;
  text-align: center;
  text-transform: uppercase;
  color: #2A272A;
  background-color: #A3CFCD;
  -webkit-text-stroke: 1px white;
}

h3 {
  font-weight: 800!important;
  text-transform: uppercase;
  color: #343a40;
}

header, main, aside {
  max-width: 1280px;
  margin: auto;
}

header {
  background-image: url('/images/placeholder-banner.png');
  background-size: cover;
  background-position: center;
}

main {
  max-width: 1280px;
  margin: auto;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  color: white;
  background-color: #2A272A;
  border-radius: 5px;
}

.filters {
  min-width: 70%;
  text-align: end;
}

.filters li {
  display: inline-block!important;
  margin: 0 1% 0 1%;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  border-bottom: 4px solid;
}

.article .description {
  display: flex;
  justify-content: space-between;
}

.article-img-container {
  display: flex;
  aspect-ratio: 1;
  border: 4px solid;
}

.article-img-container img {
  width: 60%;
  margin: auto;
}

aside nav {
  margin: 1% 0 1% 0;
  padding: 1%;
  border-radius: 5px;
  background-color: #A3CFCD;
}
