@media (prefers-color-scheme: light) {
  header {
    background-image: url('/images/articles_page_banner.jpg');
  }
  
  .filter-bar * {
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.3)), url('/images/articles_page_banner.jpg');
  }
}

@media (max-width: 767px) {
  main h1 {
    margin: -5% auto 5% auto;
  }

  header {
    height: 30vh;
  }
}

@media (max-width: 768px) { 
  main .article {
    width: 48%;
    margin: 4% 0;
  }
}

@media (min-width: 768px) {
  main h1 {
    margin: -2% auto 2% auto;
  }

  header {
    height: 50vh;
  }
  
  main .article {
    width: 45%;
    margin: 2% 0;
  }
}

@media (min-width: 1024px) {
  .article h3 {
    font-size: 200%;
  }

  header {
    height: 70vh;
  }
  
  main .article {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  aside {
    padding: 0 2%;
  }
}

@media (min-width: 1200px) {
  main .article {
    margin: 1% 0 1% 0;
  }
}

header {
  max-width: 1280px;
  margin: auto;
  background-size: cover;
  background-position: center;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  margin: 1% auto;
  padding: 1%;
  background-color: #2A272A;
  border-radius: 5px;
}

.filters {
  min-width: 70%;
  text-align: end;
}

.filters li {
  display: inline-block;
  margin: 0 1% 0 1%;
}

.filters li form button.active {
  background: black;
  padding: 1px 4px;
  border-radius: 5px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  border-bottom: 4px solid;
}

.article .description {
  display: flex;
  justify-content: space-between;
}

.article h3:first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.article-img-container {
  display: flex;
  aspect-ratio: 1;
  border: 4px solid;
}

.article-img-container img {
  width: 60%;
  margin: auto;
}

aside nav {
  margin: 1% 0 1% 0;
  padding: 1%;
  border-radius: 5px;
  background-color: #A3CFCD;
}
