@media (min-width: 0px) {
  h3 {
    font-size: 150%!important;
  }
  
  .breadcrumb {
    margin: 5%;
  }
  
  .img-container, .description {
    margin: 5%;
  }
}

@media (min-width: 768px) {
  .description button {
    padding: 13px 50px 13px;
  }
}

@media (min-width: 1024px) {
  h3 {
    font-size: 200%!important;
  }

  .breadcrumb {
    margin: 0 1% 0 1%;
    height: 5vh;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 85vh;
    padding: 1% 0 1% 0;
  }
  
  .img-container, .description {
    width: 48%;
    margin: 1%;
  }
}

@media (min-width: 1200px) {
  .breadcrumb {
    margin: auto;
  }

  .img-container, .description {
    margin: 0%;
  }
}

@media (min-width: 1201px) {
  
}

html, body {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-weight: 800!important;
  text-transform: uppercase;
}

aside, main {
  max-width: 1280px;
  margin: auto;
}

aside {
  display: flex;
}

.img-container {
  display: flex;
  aspect-ratio: 1;
  border: 5px solid;
}

.img-container img {
  width: 60%;
  margin: auto;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 0 1% 0 1%;
  z-index: 0;
  aspect-ratio: 1;
}

.description label, 
.description select, 
.description button {
  display: block;
  width: 100%;
  margin-top: 5%;
}

.description select {
  text-transform: uppercase;
  border: 1px solid;
}

.description .header p {
  margin: 10% 0 10% 0;
}

.description button {
  padding: 13px 20px 13px;
  border: 1px solid black;
  position: relative;
}

.description button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.description button:hover:after {
  top: 0px;
  left: 0px;
}