@media (min-width: 0px) {
  main h3 {
    font-size: 150%;
  }
  
  .breadcrumb {
    margin: 5%;
  }
  
  #article-img-container, #article {
    margin: 5%;
  }
}

@media (max-width: 767px) {
  #article button {
    padding: 13px 50px 13px;
  }
}

@media (min-width: 768px) {
  #article button {
    padding: 13px 50px 13px;
  }
}

@media (min-width: 1024px) {
  main h3 {
    font-size: 200%!important;
  }

  .breadcrumb {
    margin: 0 1% 0 1%;
    height: 5vh;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80vh;
    padding: 1% 0 1% 0;
  }
  
  #article-img-container, #article {
    width: 48%;
    margin: 1%;
  }
}

@media (min-width: 1200px) {
  .breadcrumb {
    margin: auto;
  }

  #article-img-container, #article {
    margin: 0%;
  }
}

html, body {
  font-family: 'Oswald', sans-serif;
}

main h3 {
  font-size: 150%;
  font-weight: 800;
  text-transform: uppercase;
}

aside, main {
  max-width: 1280px;
  margin: auto;
}

aside {
  display: flex;
}

#article-img-container {
  display: flex;
  aspect-ratio: 1;
  border: 5px solid;
}

#article-img-container img {
  width: 60%;
  margin: auto;
}

#article {
  display: flex;
  flex-direction: column;
  padding: 0 1% 0 1%;
  z-index: 0;
  background-color: rgb(111, 97, 192, 0.7);
  border: 4px solid rgb(111, 97, 192, 0.7);
}

#article label, 
#article select, 
#article button {
  display: block;
  width: 100%;
  margin-top: 5%;
}

#article select {
  text-transform: uppercase;
  border: 1px solid;
}

#article #description {
  margin: 10% 0 10% 0;
}

#article button {
  padding: 13px 20px 13px;
  border: 1px solid black;
  position: relative;
}

#article button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0#2s;
}

#article button:hover:after {
  top: 0px;
  left: 0px;
}
