@media (max-width: 767px) {
  #article-img-container, #article-container, #article, #article-order {
    margin: 5% 0;
  }

  #article-order button {
    padding: 13px 50px 13px;
  }
}

@media (min-width: 768px) {    
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80vh;
    padding: 1% 0 1% 0;
  }

  #article-img-container, #article-container {
    width: 48%;
  }

  #article-order {
    margin: auto 0;
  }

  #article-order button {
    padding: 13px 50px 13px;
  }
}

@media (max-width: 1024px) {
  .breadcrumb {
    padding: 1% 2%;
  }
}

@media (min-width: 1200px) {
  #article-img-container, #article-container {
    margin: 0%;
  }
}

#article-img-container {
  display: flex;
  aspect-ratio: 1;
  border: 5px solid;
}

#article-img-container img {
  width: 60%;
  margin: auto;
}

#article-container {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

#article, #article-order {
  padding: 0 1% 0 1%;
}

#article {
  border-bottom: 4px solid;
}

#article-order label, 
#article-order select, 
#article-order button {
  display: block;
  width: 100%;
  margin-top: 5%;
}

#article select {
  text-transform: uppercase;
  border: 1px solid;
}

#article #description {
  margin: 10% 0 10% 0;
}
