@media (prefers-color-scheme: light) {
    .product {
        background-color: beige;
    }
}

@media (prefers-color-scheme: dark) {
    .product {
        background-color: black;
    }
}

@media (max-width: 1280px) {
    main {
        padding: 0 1% 0 1%;
    }
}

@media (min-width: 1280px) {
    body h1 {
        margin-left: auto;
        margin-right: auto;
    }
}

body h1 {
    max-width: 1280px;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2 {
    text-align: center;
}

#dashboard-links {
    display: flex;
    justify-content: space-around;
}

#orders-link, #profile-link {
    padding: 10%;
    border: 2px solid;
}

.bill {
    border: 1px solid black;
    margin: 1% 0 1% 0;
    padding: 1%;
}

.product {
    padding: 0 1% 0 1%;
    margin: 1% 0 1% 0;
    border-radius: 5px;
}
