@media (min-width: 0px) {
  h3 {
    font-size: 150%!important;
  }
  
  header {
    height: 30vh;
  }
  
  section .article, section .section-text {
    margin: 5%;
  }

  section.two {
    height: 50vh;
  }

  section.two h2 {
    font-size: 20vw;
    -webkit-text-stroke: 1px white;
  }
}

@media (min-width: 768px) {
  html, body {
    font-size: 105%;
  }
  header {
    height: 50vh;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  section .article, section .section-text {
    width: 45%;
    margin: 2%;
  }

  section.two h2 {
    font-size: 15vw;
  }
}

@media (min-width: 1024px) {
  h3 {
    font-size: 200%!important;
  }
  
  header {
    height: 90vh;
  }
  
  section .article, section .section-text {
    width: 30%;
    margin: 1% 0 1% 0;
  }

  section.two {
    height: 40vh;
  }

  section.two h2 {
    font-size: 6vw;
    -webkit-text-stroke: 2px white;
  }

  section.three .article, section.three .section-text {
    width: 48%;
  }
}

html, body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  width: 80%;
  margin: -5% auto 5% auto!important;
  font-size: 6vw!important;
  font-weight: 800!important;
  text-align: center;
  text-transform: uppercase;
  color: #2A272A;
  background-color: #A3CFCD;
  -webkit-text-stroke: 1px white;
}

h3 {
  font-weight: 800!important;
  text-transform: uppercase;
  color: #343a40;
}

header, main {
  max-width: 1280px;
  margin: auto;
}

header {
  background-image: url('/images/placeholder-banner.png');
  background-size: cover;
  background-position: center;
}

section {
  overflow: hidden;
}

.section-text {
  aspect-ratio: 1;
  padding: 1%;
  background: rgb(0, 0, 0, 0.1);
}

.article .img-container {
  display: flex;
  aspect-ratio: 1;
  border: 5px solid;
}

.article .img-container img {
  width: 60%;
  margin: auto;
}

section.two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/cool-background.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.two h2 {
  font-weight: 800;
  text-transform: uppercase;
  color: cadetblue;
}

section.two .section-text {
  margin: 0;
}
