@media (min-width: 0px) {
  h3 {
    font-size: 150%!important;
  }
  
  .carousel .inner {
    height: 30vh;
  }

  .carousel .slide {
    min-width: 100%;
  }
  
  section .article, section .section-text {
    margin: 5%;
  }

  section.two {
    height: 50vh;
  }

  section.two h2 {
    font-size: 20vw;
    -webkit-text-stroke: 1px white;
  }
}

@media (min-width: 768px) {
  html, body {
    font-size: 105%;
  }
  .carousel .inner {
    height: 50vh;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  section .article, section .section-text {
    width: 45%;
    margin: 2%;
  }

  section.two h2 {
    font-size: 15vw;
  }
}

@media (min-width: 1024px) {
  h3 {
    font-size: 200%!important;
  }
  
  .carousel .inner {
    height: 90vh;
  }

  .carousel .slide {
    min-width: 100%;
  }
  .carousel .slide:first-of-type {
    margin: 0 0% 0 20%;
  }
  
  .carousel .slide:last-of-type {
    margin: 0 20% 0 0%;
  }
  
  section .article, section .section-text {
    width: 30%;
    margin: 2% auto;
  }

  section.two {
    height: 40vh;
  }

  section.two h2 {
    font-size: 6vw;
    -webkit-text-stroke: 2px white;
  }

  section.three .article, section.three .section-text {
    width: 48%;
  }
}

@media (min-width: 1200px) {
  main, nav {
    max-width: 1280px;
    margin: auto;
  }

  section, h1 {
    width: 100%!important;
  }
    
  section .article, section .section-text {
    margin: auto 0%;
  }
}

html, body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  margin: 2% auto!important;
  font-size: 6vw!important;
  font-weight: 800!important;
  text-align: center;
  text-transform: uppercase;
  color: #2A272A;
  background-color: #A3CFCD;
  -webkit-text-stroke: 1px white;
}

h3 {
  font-weight: 800!important;
  text-transform: uppercase;
  color: #343a40;
}

nav, main {
  max-width: 1280px;
  margin: auto;
}

.carousel {
  height: 100%;
  width: 100%;
}

.slide a {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.arrow {
  border: solid white;
  border-width: 0 1vw 1vw 0;
  display: inline-block;
  padding: 15%;
}

.previous {
  transform: rotate(130deg);
}

.next {
  transform: rotate(-45deg);
}

#slide1 a:first-of-type, #slide4 a:last-of-type {
  z-index: -1;
}

.carousel .inner {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel .inner::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel .slide {
  display: flex;
  justify-content: space-around;
  align-items: end;
  height: 100%;
  max-width: 1280px;
  margin: 0 2% 0 2%;
  padding-bottom: 5%;
  background-size: cover;
  background-position: center;
  scroll-snap-align: center;
}

.slide .description {
  max-width: 60%;
  padding: 0.5%;
  text-align: center;
  border-radius: 5px;
  background-color: white;
}

section {
  overflow: hidden;
}

.section-text {
  aspect-ratio: 1;
  padding: 1%;
  background: rgb(0, 0, 0, 0.1);
}

.article .img-container {
  display: flex;
  aspect-ratio: 1;
  border: 5px solid;
}

.article .img-container img {
  width: 60%;
  margin: auto;
}

section.two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/cool-background.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.two h2 {
  font-weight: 800;
  text-transform: uppercase;
  color: cadetblue;
}

section.two .section-text {
  margin: 0;
}
