@media (prefers-color-scheme: light) {
    .article {
        background-color: beige;
    }
}

@media (prefers-color-scheme: dark) {
    .article {
        background-color: black;
    }
}

@media (min-width: 1280px) {
    body h1 {
        margin-left: auto;
        margin-right: auto;
    }
}

body h1 {
    max-width: 1280px;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2 {
    text-align: center;
}

.edit-profile {
    text-align: center;
    padding: 2%;
    background-color: darkslategray;
    color: white;
}

.bill {
    border: 1px solid black;
    margin: 1% 0 1% 0;
    padding: 1%;
}

.article {
    padding: 0 1% 0 1%;
    margin: 1% 0 1% 0;
    border-radius: 5px;
}
