@media (prefers-color-scheme: light) {
    .article {
        background-color: beige;
    }
}

@media (prefers-color-scheme: dark) {
    .article {
        background-color: black;
    }
}

@media (max-width: 767px) {
    main h1 {
        font-size: 15vw;
    }
}

@media (min-width: 768px) {
    main h1 {
        font-size: 10vw;
    }
}

@media (min-width: 1024px) {
    main h1 {
        font-size: 6vw;
    }
}

@media (max-width: 1024px) {
    body h1 {
        margin: 2%;
    }
}

@media (min-width: 1200px) {
    body h1 {
        max-width: 1280px;
        margin: 2% auto;
    }

    main {
        margin: 0;
    }
}

@media (max-width: 1280px)
body h1 {
    padding: 0 2%;
}

h3 {
    text-align: center;
}

.profile {
    text-align: center;
    padding: 2%;
    background-color: darkslategray;
    color: white !important;
}

.bill {
    border: 1px solid black;
    margin: 1% 0 1% 0;
    padding: 1%;
}

.article {
    padding: 0 1% 0 1%;
    margin: 1% 0 1% 0;
    border-radius: 5px;
}
